<div class="card bg-dark text-white">
  <img
    [src]="imageEmbeddedURL"
    class="img-fluid" alt="..." width="250" height="782">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
      This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
<form [formGroup]="productEditForm" (ngSubmit)="submitUpdateProduct(product.id)" novalidate>
  <div class="form-group">
    <label for="productCode">Product Code</label>
    <input type="text" class="form-control" id="productCode" formControlName="productCode" required autofocus>
  </div>
  <div class="form-group">
    <label for="productName">Product Name</label>
    <input type="text" class="form-control" id="productName" formControlName="productName" required>
  </div>
  <div class="form-group">
    <label for="location">Enter Location</label>
    <input type="text" class="form-control" id="location" formControlName="location" required>
  </div>
  <div class="form-group">
    <label for="imageCredit">Handle</label>
    <input type="text" class="form-control" id="imageCredit" formControlName="imageCredit">
  </div>
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="statusToggle" formControlName="status" required>
    <label class="custom-control-label" for="statusToggle">Status</label>
  </div>
  <div class="form-group">
    <label for="searchTags">Select Tags for Search</label>
    <select multiple class="form-control" id="searchTags" formControlName="searchTags" required>
      <option *ngFor="let tag of searchTagsMaster" [value]="tag">{{tag.code}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="productDescription">Product Description</label>
    <textarea class="form-control" id="productDescription" rows="3" formControlName="productDescription"
      required></textarea>
  </div>
  <div class="form-group">
    <label for="imageEmbeddedURL">Handle</label>
    <input type="text" class="form-control" id="imageEmbeddedURL" formControlName="imageEmbeddedURL">
  </div>
  <p>
    Form Status: {{ productEditForm.value | json }}
  </p>
  <button class="btn btn-primary form-group" type="submit">Submit</button>
</form>