<h2>Product Section</h2>
<a routerLink="/product/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add New Product</a>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Code</th>
        <th scope="col">Product Description</th>
        <th scope="col">Status</th>
        <th scope="col">Location</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{product.dataStore.dataType}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productCode}}</td>
        <td>{{product.productDescription}}</td>
        <td>{{product.status}}</td>
        <td>{{product.location}}</td>
        <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
        <td><button type="button" class="btn btn-danger" (click)="deleteProduct(product)">delete</button></td>
      </tr>
    </tbody>
  </table>
</div>